# Ignora a pasta db com configs do banco
db.properties/

# Ignora arquivos .class (Java compilado)
*.class

# Ignora arquivos de log
*.log

# Ignora configurações locais do Eclipse/IDEA
*.iml
.idea/
*.classpath
*.project
*.settings/

# Ignora arquivos de ambiente (se você usar .env)
.env
